---
BasedOnStyle: Google
IndentWidth: 4
PointerAlignment: Right
ColumnLimit: 100
SortIncludes: true

AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortEnumsOnASingleLine: false

BinPackParameters: OnePerLine
AlignAfterOpenBracket: true
# AlignConsecutiveAssignments: true
AllowAllParametersOfDeclarationOnNextLine: false
PenaltyReturnTypeOnItsOwnLine: 1000000
AlignTrailingComments: true

BracedInitializerIndentWidth: 4

Cpp11BracedListStyle: true
...
