---
BasedOnStyle: WebKit
IndentWidth: 4
PointerAlignment: Right
ColumnLimit: 80
SortIncludes: true

AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortEnumsOnASingleLine: false

AlignAfterOpenBracket: true
AlignTrailingComments: true
AlignConsecutiveAssignments: true
BracedInitializerIndentWidth: 4

Cpp11BracedListStyle: true
...
